.textReaderInteraction {
    margin-top: 10px;
}
.textReaderInteraction .tr-wrap {
    width: 100%;
    border-radius: 3px;
}

.textReaderInteraction .tr-passage {
    position: relative;
    overflow-y: auto;
    display: table;
    table-layout: fixed;
    width: 100%;
    border-collapse:separate; 
    border-spacing: 10px;
}
.textReaderInteraction .tr-passage-column {
    margin: auto;
    border: 1px dashed transparent;
    display: table-cell;
    position: relative;
    vertical-align: top;
}

.textReaderInteraction .tr-pages-wrap {
    position: relative;
    border: 1px solid #dddddd;
    padding: 10px;
}
.textReaderInteraction .tr-pages {
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #eeeeee;
    border: 1px solid #dddddd;
}
.textReaderInteraction .tr-tabs-left .tr-pages-wrap {
    margin-left: 70px;
    border-left: 1px solid #dddddd;
}
.textReaderInteraction .tr-tabs-right .tr-pages-wrap {
    margin-right: 70px;
    border-right: 1px solid #dddddd;
}
.textReaderInteraction .tr-tabs-bottom .tr-pages-wrap {
    margin-bottom: 32px;
    padding-bottom: 10px;
}

.textReaderInteraction .tr-page {
    background-color: #FFFFFF;
    border: 1px solid #ddd;
    -webkit-box-shadow: 1px 1px 3px 0px #888888;
    box-shadow: 1px 1px 3px 0 #888888;
    margin: 10px;
    overflow-y: auto;
}

/* tabs */
.textReaderInteraction .tr-tabs {
    position: relative;
}
.textReaderInteraction .tr-tab-buttons {
    margin: 0;
    list-style: none;
    position: relative;
    z-index: 10;
    overflow: hidden;
}
.textReaderInteraction .tr-tab-buttons:after {
    content: '';
    position: absolute;
    display: block;
    box-shadow: 0px 0px 10px #555;
    z-index: 10;
}
.textReaderInteraction .tr-tabs-top .tr-tab-buttons:after {
    left: 0px;
    bottom: -6px;
    width: 100%;
    height: 5px;
    border-radius: 50% 50% 0 0;
}
.textReaderInteraction .tr-tabs-right .tr-tab-buttons:after {
    left: -10px;
    top: 0px;
    width: 10px;
    border-radius: 50%;
    height: 100%;
}
.textReaderInteraction .tr-tabs-left .tr-tab-buttons:after {
    right: -10px;
    top: 0px;
    width: 10px;
    border-radius: 50%;
    height: 100%;
}
.textReaderInteraction .tr-tabs-bottom .tr-tab-buttons:after {
    left: 0px;
    top: 0px;
    width: 100%;
    height: 1px;
}
.textReaderInteraction .tr-tabs-top .tr-tab-buttons {
    padding: 5px 10px 0 10px;
    height: 32px;
    top: 1px;
}
.textReaderInteraction .tr-tabs-bottom .tr-tab-buttons {
    padding: 0px 10px 5px 10px;
    height: 34px;
    width: 100%;
}
.textReaderInteraction .tr-tabs-left .tr-tab-buttons, .tr-tabs-right .tr-tab-buttons {
    width: 71px;
    padding: 0;
}

.textReaderInteraction .tr-tabs-right .tr-tab-buttons {
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 0px;
    padding-top: 10px;
}
.textReaderInteraction .tr-tabs-bottom .tr-tab-buttons {
    position: absolute;
    left: 0;
    bottom: 0px;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}
.textReaderInteraction .tr-tabs-left .tr-tab-buttons {
    position: absolute;
    left: 0;
    top: 0px;
    bottom: 0px;
    padding-top: 10px;
}

.textReaderInteraction .tr-tab-buttons__item {
    height: 25px;
    display: inline-block;
    padding: 0;
    position: relative;
    line-height: 25px;
    border-radius: 3px;
    border: 1px solid #dddddd;
    cursor: pointer;
    background-color: #f2f2f2;
}
.textReaderInteraction .tr-tab-buttons__item:hover {
    color: #0e5d91;
    font-weight: bold;
}
.textReaderInteraction .tr-tab-buttons .tr-tab-buttons__item.tr-active-tab {
    color: #0e5d91;
    font-weight: bold;
    background-color: #ffffff;
    z-index: 20;
}
.textReaderInteraction .tr-tabs-top .tr-tab-buttons__item {
    top: 2px;
}
.textReaderInteraction .tr-tabs-top .tr-tab-buttons__item.tr-active-tab {
    box-shadow: 1px -2px 3px #E8E8E8;
    border-bottom-color: #ffffff;
}
.textReaderInteraction .tr-tabs-right .tr-tab-buttons .tr-tab-buttons__item {
    width: 55px;
    position: relative;
}
.textReaderInteraction .tr-tabs-right .tr-tab-buttons .tr-tab-buttons__item.tr-active-tab {
    border-left-color: #ffffff;
    box-shadow: 2px 2px 3px #E8E8E8;
}
.textReaderInteraction .tr-tabs-left .tr-tab-buttons .tr-tab-buttons__item {
    width: 55px;
    float: right;
    position: relative;
    left: 0px; 
}
.textReaderInteraction .tr-tabs-left .tr-tab-buttons .tr-tab-buttons__item.tr-active-tab {
    border-right-color: #ffffff;
    box-shadow: -3px 2px 3px #E8E8E8;
}
.textReaderInteraction .tr-tabs-bottom .tr-tab-buttons .tr-tab-buttons__item {
    position: relative;
}
.textReaderInteraction .tr-tabs-bottom .tr-tab-buttons .tr-tab-buttons__item.tr-active-tab {
    border-top-color: #ffffff;
    box-shadow: 2px 2px 3px #E8E8E8;
}

.textReaderInteraction .tr-tab-buttons__item .tr-tab-label{
    display: block;
    height: 25px;
    line-height: 25px;
    padding: 0px 20px;
}

.textReaderInteraction .tr-tabs-top .tr-tab-buttons__item, .tr-tabs-bottom .tr-tab-buttons__item{
    margin-right: 0px;
}
.textReaderInteraction .tr-tabs-left .tr-tab-buttons__item, .tr-tabs-right .tr-tab-buttons__item{
    margin-bottom: 5px;
    width: 90px;
}

.textReaderInteraction .tr-tabs-top .tr-tab-buttons__item {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    z-index: 0;
}
.textReaderInteraction .tr-tabs-bottom .tr-tab-buttons__item {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.textReaderInteraction .tr-tabs-right .tr-tab-buttons__item {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.textReaderInteraction .tr-tabs-left .tr-tab-buttons__item {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
/* END tabs */


/* navigation buttons */
.textReaderInteraction .tr-nav-wrap {
    border: 1px solid #dddddd;
    border-top: none;
}
.textReaderInteraction .tr-nav {
    display: table;
    width: 100%;
    padding: 5px 10px;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#f2f2f2));
    background: -webkit-linear-gradient(top, #fff, #f2f2f2);
    background: -moz-linear-gradient(top, #fff, #f2f2f2);
    background: -ms-linear-gradient(top, #fff, #f2f2f2);
    background: -o-linear-gradient(top, #fff, #f2f2f2);
    table-layout: fixed;
    font-weight: bold;
}
.textReaderInteraction .tr-nav__col {
    display: table-cell;
    vertical-align: top;
    text-align: center;
}
.textReaderInteraction .tr-nav__col:first-child button {
    float: left;
}
.textReaderInteraction .tr-nav__col:last-child button {
    float: right;
}
.textReaderInteraction .tr-nav-right {
    margin-right: 70px;
    border-right: 1px solid #dddddd;
    position: relative;
}
.textReaderInteraction .tr-nav-left {
    margin-left: 70px;
    border-left: 1px solid #dddddd;
}
/* END navigation buttons */