.project
.buildpath
.settings/
/data/*
!/data/.htaccess
/config/*
!/config/.htaccess
/filemanager/
/funcAcl/
/generis/
/generisHard/
/ltiDeliveryProvider/
/ltiTestConsumer/
/ontoBrowser/
/qtiItemPci/
/qtiItemPic/
/tao/
/taoAltResultStorage/
/taoCampaign/
/taoCe/
/taoDacSimple/
/taoDelivery/
/taoDevTools/
/taoGroups/
/taoItems/
/taoLti/
/taoLtiBasicOutcome/
/taoMediaManager/
/taoOpenWebItem/
/taoQtiItem/
/taoQtiTest/
/taoResultServer/
/taoResults/
/taoResultsUdp/
/taoSimpleDelivery/
/taoTestTaker/
/taoTests/
/taoWfAdvTest/
/taoWfTest/
/vendor/
/wfAuthoring/
/wfEngine/
/taoDeliveryTemplate/
/taoOutcomeRds/
/taoOutcomeUi/
/taoRevision/
/taoTestLinear/
/composer.lock
