.project
.buildpath
.settings/
filemanager/
funcAcl/
generis/
generisHard/
ltiDeliveryProvider/
ltiTestConsumer/
ontoBrowser/
qtiItemPci/
tao/
taoAltResultStorage/
taoCampaign/
taoCe/
taoDacSimple/
taoDelivery/
taoDevTools/
taoGroups/
taoItems/
taoLti/
taoLtiBasicOutcome/
taoOpenWebItem/
taoOutcomeRds/
taoOutcomeUi/
taoQtiItem/
taoQtiTest/
taoResultServer/
taoSimpleDelivery/
taoTestTaker/
taoTests/
taoWfAdvTest/
taoWfTest/
vendor/
wfAuthoring/
wfEngine/
composer.lock
install.sh