composer.lock
funcAcl/
generis/
generisHard/
tao/
taoAltResultStorage/
taoCe/
taoDelivery/
taoDevTools/
taoGroups/
taoItems/
taoLti/
taoOpenWebItems/
taoQtiItem/
taoQtiTest/
taoResultServer/
taoResults/
taoSimpleDelivery/
taoSubjects/
taoTests/
taoWfTest/
vendor/

