db.driver=pdo_mysql
db.host=localhost
db.name=taoUnitTest_trunk
db.pass=tao
db.user=taoUnitTest


tao.mode=debug
tao.root=.
tao.url=http://trunk.localdomain
tao.ns=http://trunk.localdomain/tao.rdf
tao.login=admin
tao.pass=admin
tao.preload=true
tao.extensions=taoCe

backup.folder=backup

package.branch=develop
package.repo=git@github.com:oat-sa/package-tao.git

mathjax.installer.dir=/home/lionel/Téléchargements/