<phpunit bootstrap="vendor/autoload.php">

    <testsuites>
        <testsuite name="generis">
            <directory>generis/test/oatbox/extension</directory>
            <directory>generis/test/oatbox/config</directory>
            <directory>generis/test/oatbox/log</directory>
            <directory>generis/test/model/data</directory>
            <file>generis/test/model/persistence/smoothsql/SmoothModelIteratorTest.php</file>
            <file>generis/test/model/persistence/smoothsql/SmoothRdfTest.php</file>
            <file>generis/test/FileHelperTest.php</file>
            <file>generis/test/ManifestTest.php</file>
            <file>generis/test/ReportTest.php</file>
            <file>generis/test/oatbox/EventManagerTest.php</file>
        </testsuite>
        <testsuite name="tao">
            <directory>tao/test/http</directory>
            <directory>tao/test/model/metadata/injector</directory>
            <directory>tao/test/model/metadata/reader</directory>
            <directory>tao/test/model/metadata/writer</directory>
            <directory>tao/test/model/textConverter</directory>
            <directory>tao/test/messaging</directory>
            <file>tao/test/datatable/DatatableRequestTest.php</file>
            <file>tao/test/helpers/ArrayHelperTest.php</file>
            <file>tao/test/helpers/EnvironmentTest.php</file>
            <file>tao/test/helpers/NumericTest.php</file>
            <file>tao/test/lock/OntoLockDataTest.php</file>
            <file>tao/test/lock/SimpleLockDataTest.php</file>
            <file>tao/test/requiredAction/RequiredActionRedirectUrlPartTest.php</file>
            <file>tao/test/service/FileStorageTest.php</file>
            <file>tao/test/AdaptersTest.php</file>
            <file>tao/test/DisplayHelperTest.php</file>
            <file>tao/test/DurationHelperTest.php</file>
            <file>tao/test/EventsServiceTest.php</file>
            <file>tao/test/IconsTest.php</file>
            <file>tao/test/NumericHelperTest.php</file>
            <file>tao/test/UriHelperTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>
