<phpunit 
	bootstrap="tests/bootstrap/bootstrap.php">
	
	<testsuites>

		<testsuite name="funcAcl">
			<directory>funcAcl/test</directory>
		</testsuite>
		<testsuite name="generis">
			<directory>generis/test/</directory>
		</testsuite>

		<testsuite name="qtiItemPci">
			<directory>qtiItemPci/test</directory>
		</testsuite>
		<testsuite name="tao">
			<directory>tao/test</directory>
		</testsuite>
		<testsuite name="taoCampaign">
			<directory>taoCampaign/test</directory>
		</testsuite>
		<testsuite name="taoDacSimple">
			<directory>taoDacSimple/test</directory>
		</testsuite>
		<testsuite name="taoDelivery">
			<directory>taoDelivery/test</directory>
		</testsuite>
		<testsuite name="taoItems">
			<directory>taoItems/test</directory>
		</testsuite>
		<testsuite name="taoGroups">
			<directory>taoGroups/test</directory>
		</testsuite>
		<testsuite name="taoLti">
			<directory>"taoLti"/test</directory>
		</testsuite>
		<testsuite name="taoOpenWebItem">
			<directory>taoOpenWebItem/test</directory>
		</testsuite>
		<testsuite name="taoOutcomeRds/">
			<directory>taoOutcomeRds//test</directory>
		</testsuite>
		<testsuite name="taoQtiItem">
			<directory>taoQtiItem/test</directory>
		</testsuite>
		<testsuite name="taoQtiTest">
			<directory>taoQtiTest/test</directory>
		</testsuite>
		<testsuite name="taoResultsServer">
			<directory>taoResultsServer/test</directory>
		</testsuite>
		<testsuite name="taoSimpleDelivery">
			<directory>taoSimpleDelivery/test</directory>
		</testsuite>
		<testsuite name="taoTestTaker">
			<directory>taoTestTaker/test</directory>
		</testsuite>
		<testsuite name="taoTests">
			<directory>taoTests/test</directory>
		</testsuite>
		<testsuite name="taoWfTest">
			<directory>taoWfTest/test</directory>
		</testsuite>
		<testsuite name="wfAuthoring">
			<directory>wfAuthoring/test</directory>
		</testsuite>
		<testsuite name="wfEngine">
			<directory>wfEngine/test</directory>
		</testsuite>
	</testsuites>
</phpunit>
