/* ! requires css3*/
tr:nth-child(odd) td {
    background-color: #DEDEDE;
}
tr:nth-child(even) td {
    background-color: #F2F2F2;
}

th {
    width:45%;
}

.small {
    width:5%;
}



/*A triple that is not in the scope of the selected language*/
.notInScope {
    
    color:green;
    
}