Options +FollowSymLinks
RewriteEngine On

#usual behavior for resources calls
RewriteCond %{REQUEST_URI} !/views/  [NC]
RewriteCond %{REQUEST_URI} !/test/  [NC]
RewriteCond %{REQUEST_URI} !/compiled/  [NC]
RewriteCond %{REQUEST_URI} !/locales/  [NC]
RewriteCond %{REQUEST_URI} !/getFile.php  [NC]
#url resolving  
RewriteRule ^(.*)$ index.php [L]


RewriteCond %{REQUEST_URI} (.*)/getFile.php/  [NC]
RewriteRule ^(.*)$ getFile.php [L]
