/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
	Open Assessment Technologies additional CSS rules
	on basis of Eric A. and Kathryn S. Meyer's work.
*/
html, body, textarea {
    font-family: Verdana,Arial,sans-serif;
    font-size: 14px;
}

address, p, pre, dl, ol, ul, table {
    margin: 10px 0;
}

li, dl, dt {
    margin: 5px 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin: 15px 0;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 16px;
}

h4, h5, h6 {
    font-size: 14px;
}

strong, b {
    font-weight: bold;
}

em, i {
    font-style: italic;
}

table {
    border-collapse: collapse;
    border: 2px solid #999; 
}

table td, table th {
    border: 2px solid #999;
    padding: 3px;
}

table th {
    font-weight: bold;
    font-style: italic;
}

ul {
    list-style-type: disc;
    list-style-position: inside;
}

ol {
    list-style-position: inside;
    list-style-type: decimal;
}

hr {
    border: 0;
    color: #999;
    background-color: #999;
    height: 1px;
    margin: 20px;
}

quote {
    font-style: italic;
}

abbr, acronym {
    text-transform: uppercase;
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
 
sup {
    top: -0.5em;
}
 
sub {
    bottom: -0.25em;
}

tt {
    font-family: monospace;
}

.qti-rubricBlock {
    margin: 20px 0;
}