body {
	margin: 0;
	padding: 0;
}

#runner {
	font-family:Verdana, Arial, sans-serif;
	font-size: 12px;
	overflow:auto;
}

#qti-item {
	width: 100%;
	overflow: hidden;
	display: none;
}

.qti-navigation {
	display:none;
}

#qti-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    filter:alpha(opacity=3);
    -moz-opacity:0.03;
    -khtml-opacity: 0.03;
    opacity: 0.03;
    z-index: 10000;
}

#qti-loading {
	width: 300px;
    height: 300px;
    background: transparent;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -150px;
}

#qti-info {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	padding: 3px;
}

#qti-info.info {
	background-color: #f5fcff;
	background-image: url(../img/information.png);
	background-repeat: no-repeat;
	background-position: 2px 2px;
	border: 1px solid #005b7d;
	color: #0c6485;
	font-weight: bold;
	padding: 3px 3px 3px 25px;
	margin: 20px 100px;
}

#qti-timer {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	padding: 3px 3px 3px 25px;
	background-color: #f3f3f3;
	background-image: url(../img/time.png);
	background-repeat: no-repeat;
	background-position: 2px 2px;
	border: 1px solid #333;
	margin: 20px 100px;
	font-weight: bold;
	color: #333;
}