@import "inc/bootstrap";

.complete-icon-listing li {
    display: block;
    float: left;
    width: 11.5%;
    margin: 5px .5%;
    padding: 5px;
    cursor: default;
    @include simple-border();
}

.complete-icon-listing div {
    margin: 3px;
}

.complete-icon-listing .icon {
    color: $info;
    font-size: 20px;
}