@import "inc/bootstrap";
@import '_response-pairs';

.qti-gapMatchInteraction {

    .qti-flow-container {

        position: relative;
        [data-html-editable]{
            min-height: 3rem;
        }
        .mini-tlb[data-role=create-gap-tlb]{
            postion: absolute;
            right: -30px;
        }
        #selection-wrapper{
            z-index: 1000;
            position: relative;
        }
    }

    .gap-info {
        color: $info;
        font-style: italic;
    }

    .qti-gap {
        span.mini-tlb[data-edit] {
            position: absolute !important;
            top: -3px !important;
            right: -32px !important;
        }
    }
}
