@import "inc/bootstrap";

.qti-graphicGapMatchInteraction {

    ul.source > li {

        &.empty, &.placeholder {
            margin: 0 5px 0 0 !important;
            width: 60px;
            height: 60px;
            max-height: 60px;
        }

        .dummy-element {
            cursor : pointer;

            & ~ span.mini-tlb[data-edit] {
                @include font-size(14);
                position: absolute !important;
                right: 0 !important;
                top: 0 !important;

                .tlb-button {
                    line-height: 26px;
                    height: 24px;
                }
            }
        }
        img ~ span.mini-tlb[data-edit] {
            .tlb-button {
                line-height: 18px;
            }
        }
    }
}
