@import "inc/bootstrap";

.qti-graphicGapMatchInteraction {

    ul.source > li {

        &.empty, &.placeholder {
            margin: 0 3px 3px 0 !important;
            width: 60px;
            height: 60px;
            max-height: 60px;
        }

        .dummy-element {
            cursor : pointer;

            & ~ span.mini-tlb[data-edit] {
                right: 0 !important;
                top: 0 !important;

                .tlb-button {
                    line-height: 18px;
                }
            }
        }
        img ~ span.mini-tlb[data-edit] {
             top: 0;
             right: 0;
            .tlb-button {
                line-height: 18px;
            }
        }
    }
}
