@import "inc/bootstrap";




.qti-hottextInteraction {

    .qti-hottext {
        input[disabled] ~ [class^="icon-"] {
            cursor : pointer !important;
        }

        .mini-tlb {
            display     : inline-block;
            postion     : absolute;
            right       : -30px;
            z-index     : 1000;

            &[data-edit] {
                top : -2px;
                &.icon-undo {
                    padding-right : 8px;
                }
                label {
                    padding : 0 3px;
                }
                [data-role="score"] {
                    width : 30px;
                }
            }
        }
    }

    .qti-flow-container {
        position : relative;
        [data-html-editable] {
            min-height : 3rem;
        }
        .mini-tlb[data-role=create-hottext-tlb] {
            position : absolute;
            right    : -30px;
        }
        #selection-wrapper {
            z-index     : 1000;
            position    : relative;
        }
    }

    input.score {
        width       : 30px;
        min-width   : 30px;
        padding     : 0 2px;
    }

    .hottext-content {
        padding-right: 5px;
    }

    .hottext-checkmark {
        margin-bottom: 0;
        width: 20px;
    }
}