@import "inc/bootstrap";
.qti-matchInteraction {
    
    .qti-prompt-container{
        margin: 5px 0 15px;
    }
    
    table.matrix{
        th{
            padding:0;
        }
        thead{
            .mini-tlb{
                 top:-32px;
                [class^="icon-"], [class*=" icon-"]{
                    padding:0;
                    position: relative;
                    top: 3px;
                }
             }
        }
        tbody{
            .mini-tlb{
                right:auto;
                left:-86px;
            }
            [contenteditable="false"] .mini-tlb{
                right:-32px !important;
                left:auto !important;
            }
        }
        td{
            input[disabled] ~ [class^="icon-"]{
                cursor:default !important;
            }
        }
        .mini-tlb{
            width:auto;
            margin:0;
            [class^="icon-"], [class*=" icon-"]{
                padding:0;
                position: relative;
                top: 3px;
            }
            .tlb-button{
                margin:0;
                padding:0;
            }
        }
        .score {
            left:0;
            min-width:0; 
            width: 35px !important;
            height:20px;
            position: relative;
            top: 0;
        }
    }
    
    .add-options{
        margin:15px 5px 8px 0;
        .add-option{
            margin-left:2px;
            position:relative;
            padding: 5px 5px 5px 6px;
            .icon-add{
                font-size: 1.8rem;
                left: 6px;
                position: absolute;
                top: 5px;
            }
        }
    }
    
}