@charset "UTF-8";
/* to be included into your scss files, don't forget to set the includePaths (--load-path) in your compiler  */
/** Use icon within sass: @inclue icon('down'); */
/* Fade animation */
@keyframes fade { 0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; } }

@-webkit-keyframes fade { 0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; } }

@-moz-keyframes fade { 0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; } }

@-o-keyframes fade { 0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; } }

/* Repeat animation */
/*   This program is free software; you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation; under version 2 of the License (non-upgradable).  This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details.  You should have received a copy of the GNU General Public License along with this program; if not, write to the Free Software Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.  Copyright (c) 2008-2010 (original work) Deutsche Institut für Internationale Pädagogische Forschung (under the project TAO-TRANSFER); 2009-2012 (update and modification) Public Research Centre Henri Tudor (under the project TAO-SUSTAIN & TAO-DEV);  */
/* Mixins */
/* Splash screen styles */
.splash-screen-wrapper { position: absolute; top: 0; height: 0; left: 0; right: 0; }

.modal.splash-modal { padding: 75px 0 0 0; min-width: 900px; min-height: 650px; }

.modal-title { background-color: #ba122b; -webkit-border-radius: 0 3px 3px 0; -moz-border-radius: 0 3px 3px 0; border-radius: 0 3px 3px 0; position: absolute; line-height: 25px; top: 20px; left: -10px; color: #fff; padding: 5px 30px 5px 30px; font-size: 20px; -moz-box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3); -webkit-box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3); box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3); }

.modal-nav.plain { background-color: #f3f1ef; width: 100%; display: none !important; }
.modal-nav.plain li { float: left; }
.modal-nav.plain li.active a { background-color: #a3a9b1; color: #222222; }
.modal-nav.plain li:hover a { background-color: #3e7da7; color: white; }
.modal-nav.plain li a { line-height: 20px; display: block; padding: 5px 15px; color: #222222; }

.modal-content { margin: 0 20px; }
.modal-content .panels { display: none; }
.modal-content .panels .icon { font-size: 40px; line-height: 50px; margin: 0; padding: 0; }
.modal-content .panels > p { font-size: 20px; margin-bottom: 20px; line-height: 20px; }
.modal-content .panels .diagram { height: 460px; width: 280px; margin-bottom: 20px; position: absolute; left: 0; }
.modal-content .panels .diagram .col-6 { margin: 0; width: 50%; }
.modal-content .panels .diagram .grid-row { width: 100%; }
.modal-content .panels .diagram .block { width: 120px; height: 100px; background: #f3f1ef; text-align: center; position: relative; font-size: 16px; font-size: 1.6rem; color: #6f6359; float: right; margin-bottom: 30px; }
.modal-content .panels .diagram .block.test-takers { height: 120px; margin-bottom: 0; }
.modal-content .panels .diagram .block.pentagon { height: 90px; }
.modal-content .panels .diagram .block.pentagon:after { content: ''; width: 0; height: 0; position: absolute; border-style: solid; border-color: #f3f1ef transparent transparent transparent; border-width: 20px 60px 0px 60px; top: 90px; left: 0; }
.modal-content .panels .diagram .block.pentagon.wide:after { border-width: 20px 130px 0px 130px; }
.modal-content .panels .diagram .block.wide { width: 260px; }
.modal-content .panels .diagram .block span:before { display: block; font-size: 40px; font-size: 4rem; padding: 20px 0 5px 0; line-height: 1; color: #6f6359; }
.modal-content .panels .diagram .block span { width: 100%; display: block; }
.modal-content .panels .diagram .block:hover, .modal-content .panels .diagram .block.active { background: #3e7da7; color: white !important; }
.modal-content .panels .diagram .block:hover:after, .modal-content .panels .diagram .block.active:after { border-color: #3e7da7 transparent transparent transparent; }
.modal-content .panels .diagram .block:hover span:before, .modal-content .panels .diagram .block.active span:before { color: white; }
.modal-content .panels .diagram .block.disabled, .modal-content .panels .diagram .block.disabled:hover, .modal-content .panels .diagram .block.disabled span:before { color: #6f6359 !important; background: #f3f1ef !important; opacity: .9; }
.modal-content .panels .diagram .block.disabled:hover:after { border-color: #f3f1ef transparent transparent transparent !important; }
.modal-content .panels .diagram .block .icon-lock:before { font-size: 40px; font-size: 4rem; }
.modal-content .panels .desc { border: solid 10px #f3f1ef; background-color: white; margin-left: 280px; min-height: 100%; height: 460px; margin-bottom: 20px; }
.modal-content .panels .desc .module-desc { padding: 5px; display: none; }
.modal-content .panels .desc .module-desc.default { font-size: 35px; font-size: 3.5rem; color: #6f6359; text-align: center; font-style: italic; display: block; margin-top: 150px; }
.modal-content .panels .desc .module-desc span[class*="icon-"] { color: #494f57; font-size: 40px; font-size: 4rem; display: block; width: 37px; height: 46px; position: absolute; right: 20px; top: 20px; }
.modal-content .panels .desc .module-desc h1 { font-weight: bold; font-size: 28px; font-size: 2.8rem; }
.modal-content .panels .more { display: block; font-weight: bold; margin-bottom: 5px; }
.modal-content .panels .icon-extension { font-size: 15px; line-height: 15px; margin: 0; padding: 0; }
.modal-content .panels .new-module { display: inline-block; line-height: 20px; margin: 0 10px 5px 0; cursor: pointer; color: #494f57; }
.modal-content .panels .new-module:hover, .modal-content .panels .new-module.active { color: #3e7da7; }

.modal-footer { margin: 15px 20px; }
.modal-footer .checkbox-wrapper { font-size: 13px; float: left; }
.modal-footer .checkbox-wrapper label { margin: 0; }
.modal-footer .checkbox-wrapper .note { font-size: 13px; font-style: italic; display: block; margin-left: 25px; }
.modal-footer .btn-info { float: right; }

.scrollable { position: relative; }
.scrollable:focus { outline: 0; }
.scrollable .viewport { position: relative; overflow: hidden; }
.scrollable .viewport .overview { position: absolute; width: 100%; }
.scrollable .scroll-bar { display: none; }
.scrollable .scroll-bar.vertical { position: absolute; right: 0; height: 100%; }
.scrollable .scroll-bar.vertical .thumb { width: 100%; min-height: 10px; margin: 0 1px; width: 14px; }
.scrollable .scroll-bar .thumb { position: absolute; }
.scrollable.gray-skin { padding-right: 17px; }
.scrollable.gray-skin .scroll-bar { border-left: 1px solid #e0e0e0; background-color: #fff; }
.scrollable.gray-skin .scroll-bar.vertical { width: 16px; }
.scrollable.gray-skin .scroll-bar .thumb { background-color: #c7c7c7; }

.not-selectable { -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
