#item-editor-interaction-bar img.interaction-sidebar-icon {
  width: 28px;
  height: 28px;
  display: block;
  margin: 5px auto 8px;
  opacity: 0.8; }
#item-editor-interaction-bar .tool-group .panel.sub-group {
  position: relative;
  padding-top: 0 !important;
  padding-bottom: 4px; }
  #item-editor-interaction-bar .tool-group .panel.sub-group .tool-list {
    position: relative;
    z-index: 4; }
  #item-editor-interaction-bar .tool-group .panel.sub-group .sub-group-cover {
    position: absolute;
    left: 0;
    top: -7px;
    width: 96%;
    height: 100%;
    background-color: rgba(242, 240, 238, 0.3) !important;
    z-index: 2;
    border: 1px #8d949e solid;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin: 2%;
    cursor: no-drop !important; }
    #item-editor-interaction-bar .tool-group .panel.sub-group .sub-group-cover.blocking {
      z-index: 10; }
  #item-editor-interaction-bar .tool-group .panel.sub-group .sub-group-cover:after, #item-editor-interaction-bar .tool-group .panel.sub-group .sub-group-cover:before {
    bottom: 100%;
    left: 35%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none; }
  #item-editor-interaction-bar .tool-group .panel.sub-group .sub-group-cover:after {
    border-color: transparent;
    border-bottom-color: #f2f0ee;
    border-width: 8px;
    margin-left: -8px; }
  #item-editor-interaction-bar .tool-group .panel.sub-group .sub-group-cover:before {
    border-color: transparent;
    border-bottom-color: #8d949e;
    border-width: 9px;
    margin-left: -9px; }
#item-editor-interaction-bar .tool-list {
  margin-top: -3px; }
  #item-editor-interaction-bar .tool-list li {
    width: 50%;
    margin: 0;
    float: left;
    padding: 9px 3px;
    font-size: 12px;
    font-size: 1.2rem;
    border: 1px dotted transparent;
    cursor: move;
    text-align: center; }
    #item-editor-interaction-bar .tool-list li:hover {
      background: rgba(255, 255, 255, 0.6);
      border: 1px dotted #aaa; }
    #item-editor-interaction-bar .tool-list li span {
      display: block;
      margin: 5px auto 8px;
      font-size: 28px;
      font-size: 2.8rem;
      opacity: .9; }
    #item-editor-interaction-bar .tool-list li.disabled {
      cursor: default;
      background-color: #eee !important; }
      #item-editor-interaction-bar .tool-list li.disabled:hover {
        background: rgba(255, 255, 255, 0.6);
        border: 1px dotted transparent; }
    #item-editor-interaction-bar .tool-list li.dev {
      background: #f2f6f9;
      color: #0e5d91; }
      #item-editor-interaction-bar .tool-list li.dev:hover {
        background: rgba(255, 255, 255, 0.6); }
