Options +FollowSymLinks
Options +Indexes
RewriteEngine On

#don't macth resources
RewriteCond %{REQUEST_URI} !/views/  [NC]
RewriteCond %{REQUEST_URI} !/locales/  [NC]
#call entry point for url resolving and framework bootstrap
RewriteRule ^(.*)$ index.php [L]


