Options +FollowSymLinks
RewriteEngine On

#usual behavior for resources calls
RewriteCond %{REQUEST_URI} !/views/  [NC]
RewriteCond %{REQUEST_URI} !/locales/  [NC]
RewriteCond %{REQUEST_URI} !/test/samples/json/  [NC]
RewriteCond %{REQUEST_URI} !/test/samples/test_base_www/  [NC]

#url resolving  
RewriteRule ^(.*)$ index.php [L]
