@charset "UTF-8";

$fontPath : '../../../../tao/views/css/font/';

// rest regular font to whatever has been declared in /tao
@import "inc/bootstrap";
@import "inc/fonts/source-sans-pro";

.qti-item {
    font-family: "Source Sans Pro";
}

// override items that make actually use of the font
.qti-inlineChoiceInteraction .select2-chosen,
select.qti-inlineChoiceInteraction,
.qti-inlineChoiceInteraction-dropdown .select2-result-label {
    font-family: $regularFont !important;
    font-weight: normal !important;
}
