@import "inc/bootstrap";
.qti-choiceInteraction {
    
    .qti-choice .real-label{
        top:1px;
    }
    
    .block-listing > li {
        margin-top: 0;
        margin-bottom: 0;
        border-top: none;
        border-bottom: none;
        @include border-radius(0);
        &:first-child {
            margin-top: 3px;
            border-top: 1px solid #eee;
            @include border-radius-top(2);
        }
        &:last-child {
            margin-bottom: 3px;
            border-bottom: 1px solid #eee;
            @include border-radius-bottom(2);
        }
    }
    
    //IE specific
    
    .checked {
        span.icon-checkbox:before{
            @extend %icon-checkbox-checked;
        }
        span.icon-radio:before{
            @extend %icon-radio-checked;
        }
    }
    .real-label{
        input{
            position: absolute;
            left: -10000px;
        }
    }
    //END IE specific
    
}
