@import "inc/bootstrap";

.qti-hottextInteraction {
    
    //@todo : change it to qti-hottext
    .hottext {        
        background: $uiClickableDefaultBg;
        padding-right: 5px;
        @include border-radius();
        position: relative;
        
        &:hover {
            @extend %selectableHover;
        }
        
        &.error{
            color : $error;
        }

        .hottext-checkmark {
            padding-right: 0;
            min-width: auto;
            width: auto;
        }
        
        [class^="icon-"], [class*=" icon-"] {
            &.small {
                @include font-size(12);
                text-shadow: none;
                line-height:10px;
                top: 1px;
            }
            &.error{
                color : $error;
            }
        }

        //todo : should be moved to creator's part
        .mini-tlb[data-edit] {
            top: -2px;
            &.icon-undo {
                padding-right:8px;
            }
            label {
                padding: 0 3px;
            }
            [data-role="score"] {
                width: 30px;
            }
        }
    }
}
