@import "inc/bootstrap";

.qti-mediaInteraction {

    .mejs-container iframe{
        min-height : inherit;
    }
    .overlay {
        background: #000;
        z-index: 999;
        position: relative;
        opacity: 0;
        width: 100%;
        height: 100%;
    }
}

