@import "inc/bootstrap";
html {
    width: 100% !important;
}
.delivery-scope {
    .no-controls { // == .content-wrap
        margin-bottom: 0 !important;
        &:after {
            height: 0 !important;
        }
    }
    
    .section-container {
        .content-block {
            &.iframe-block {
                padding: 0;
                iframe {
                    width: 100%;
                }
            }
        }
    }

    .title-box {
        @include font-size(16);
        padding: 22px 40px 0;
    }

    // entry page
    .test-listing {
        width: 500px;
        margin: auto;
        h1 {
            font-family: $headingFont;
            @include font-size(22);
            font-weight: normal;
        }
        h2 {
            font-family: $headingFont;
            @include font-size(18);
            margin: 30px 0 10px;
        }
        .entry-point-box {
            margin-top: 0
        }
    }

}


