@import 'inc/bootstrap';

$autocompleter : autocomplete;

.#{$autocompleter}-suggestions {
    @include simple-border();
    @include border-radius(1);
    color: $textColor;
    background: $uiGeneralContentBg;
    overflow: auto;

    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.#{$autocompleter}-suggestion {
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
}
.#{$autocompleter}-selected {
    background-color: $uiClickableHoverBg;
    color: $textHighlight;
}
.#{$autocompleter}-suggestions strong {
    font-weight: normal;
    text-decoration: dashed underline;
}
.#{$autocompleter}-group {
    padding: 2px 5px;
}
.#{$autocompleter}-group strong {
    display: block;
    border-bottom: 1px solid $textColor;
}
