.flex-grid {
  @include flex-container(wrap);
  overflow-x: hidden;
  width: 100%;
}

@for $i from 1 through 12 {
  .flex-col-#{$i} {
    @include simple-flex-box($i);
    $width: ((100/12)*$i) * 1%;
    $margin: 20px;
    margin-left: $margin;
    width: calc(#{$width} - #{$margin});
  }
}
