@import 'inc/bootstrap';

/* tooltip */
.resourcemgr {

    $activeColor:  whiten($uiClickableHoverBg, 0.5);

    position: relative;
    width: 100%;
    height: 100%;

   .file-browser, .file-selector, .file-preview { 
        position: relative;
        display: table-cell;
        vertical-align: top;
        height: 100% !important;

        color: $textColor;

        h1 {
            @include font-size(16);
            line-height: 1.6;

            color: $textColor;
            margin-top: 1px;
            padding: 5px;
            height: 38px;
        }
        h2 {
            @include font-size(13);
            line-height: 1.3;
            background-color: $uiHeaderBg;
            color: $textColor;
            margin-top: 1px;
            padding: 6px;
            position: relative;
            clear: both;
        
            &.toggler{
                cursor: pointer;
                &:after{
                    position: absolute;
                    right: 15px;
                    top: 3px;
                }
            }
        }
    }

    .file-browser{
        background-color: $uiClickableDefaultBg;
        & > h1 {
            width: 200px;
            background-color: $uiHeaderBg;
        }

        ul {
            list-style-type: none;
            padding-left: 5px;
            ul {
                padding-left: 18px;
            }
            li {
                a {
                    color: $textColor;
                    &:before {
                        @include icon('folder');
                        margin: 0 3px;
                    }
                }

                a.opened:before {
                    font-style: italic;
                    @include icon('folder-open');
                }

                &.active > a {
                    background-color: $activeColor;
                    
                }
            }
        }
    }

    .file-preview{
        max-width: 300px;
        background-color: $uiClickableDefaultBg;
        & > h1 {
            width: 300px;
            background-color: $uiHeaderBg;
        }

        .file-properties{
            padding: 0 5px;
        }

        .previewer {
            height: 300px;
        }
    
        .actions {
            text-align: center;
            margin-bottom: 10px;
        }
    }

    .file-selector{
        position: relative;
        width: 100%;
        
        border: solid 1px #fff;
        border-top: none;
        border-bottom: none;       
 
        background-color: $uiGeneralContentBg;
        & > h1 {
            position: relative;
            background-color: $uiClickableDefaultBg;

            .title {
                margin-right: 75px;
            }

            .upload-switcher {
                position: absolute;
                width: 75px;
                top: 0;
                right: 0;
                height: 38px;
                padding: 5px;
            }
        }



        ul.files {
            position: relative;
            height: 300px;
            margin-bottom: 5px;
            padding: 0;
            list-style-type: none;
 
            li {
                height: 35px;
                line-height: 35px;
                padding-left: 5px;

                &:before {
                    @include icon('document');
                    margin: 0 4px;
                    @include font-size(16);
                    vertical-align: top;
                }
                &[data-type='image']:before{
                    @include icon('image');
                    margin: 0 2px 0 0;
                }
                &[data-type='audio']:before{
                    @include icon('media');
                    margin: 0 2px 0 0;
                } 
                &[data-type='video']:before{
                    @include icon('video');
                    margin: 0 2px 0 0;
                }

                &.active, &:hover {
                    background-color: $activeColor;
                    cursor: pointer;
                }

                .desc {
                    display: inline-block;
                }

                .actions { 
                    float: right;
                    position: relative;
                    height: 35px;
                    width: 100px;
                    .tlb {
                        display: inline-block;
                        background: none;
                        @include font-size(14);
                        .tlb-top {
                            background: none !important;
                            border-width: 0 !important;
                            @include box-shadow(0, 0, 0);
                        }
                    }
                }
            }
        }
        .uploader {
            display: none;
            height: 40px;
            padding: 0 5px;
        }
    }
}
