%tao-icon-setup {
	font-family: 'tao';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

%icon-left { content: "\121"; }
%icon-right { content: "\122"; }
%icon-up { content: "\123"; }
%icon-down { content: "\124"; }
%icon-undo { content: "\125"; }
%icon-redo { content: "\126"; }
%icon-screen { content: "\127"; }
%icon-laptop { content: "\128"; }
%icon-tablet { content: "\129"; }
%icon-phone { content: "\12a"; }
%icon-folder { content: "\12b"; }
%icon-folder-open { content: "\12c"; }
%icon-move { content: "\12d"; }
%icon-bin { content: "\12e"; }
%icon-shuffle { content: "\12f"; }
%icon-print { content: "\130"; }
%icon-tools { content: "\131"; }
%icon-settings { content: "\132"; }
%icon-video { content: "\133"; }
%icon-find { content: "\134"; }
%icon-image { content: "\135"; }
%icon-edit { content: "\136"; }
%icon-document { content: "\137"; }
%icon-resize-grid { content: "\138"; }
%icon-resize { content: "\139"; }
%icon-help { content: "\13a"; }
%icon-mobile-menu { content: "\13b"; }
%icon-fix { content: "\13c"; }
%icon-unlock { content: "\13d"; }
%icon-lock { content: "\13e"; }
%icon-ul { content: "\13f"; }
%icon-ol { content: "\140"; }
%icon-email { content: "\141"; }
%icon-download { content: "\142"; }
%icon-logout { content: "\143"; }
%icon-login { content: "\144"; }
%icon-spinner { content: "\145"; }
%icon-preview { content: "\146"; }
%icon-external { content: "\147"; }
%icon-time { content: "\148"; }
%icon-save { content: "\149"; }
%icon-warning { content: "\14a"; }
%icon-add { content: "\14b"; }
%icon-close { content: "\14c"; }
%icon-success { content: "\14d"; }
%icon-remove { content: "\14e"; }
%icon-info { content: "\14f"; }
%icon-error { content: "\150"; }
%icon-users { content: "\151"; }
%icon-user { content: "\152"; }
%icon-test-taker { content: "\153"; }
%icon-test-takers { content: "\154"; }
%icon-item { content: "\155"; }
%icon-test { content: "\156"; }
%icon-delivery { content: "\157"; }
%icon-eye-slash { content: "\1cb"; }
%icon-result { content: "\158"; }
%icon-delivery-small { content: "\159"; }
%icon-upload { content: "\1ca"; }
%icon-result-small { content: "\15a"; }
%icon-mobile-preview { content: "\15c"; }
%icon-extension { content: "\15d"; }
%icon-desktop-preview { content: "\15e"; }
%icon-tablet-preview { content: "\15f"; }
%icon-insert-horizontal-line { content: "\160"; }
%icon-table { content: "\161"; }
%icon-anchor { content: "\162"; }
%icon-unlink { content: "\163"; }
%icon-link { content: "\164"; }
%icon-right-left { content: "\165"; }
%icon-left-right { content: "\166"; }
%icon-special-character { content: "\167"; }
%icon-source { content: "\168"; }
%icon-new-page { content: "\169"; }
%icon-templates { content: "\16a"; }
%icon-cut { content: "\16b"; }
%icon-replace { content: "\16c"; }
%icon-copy { content: "\16d"; }
%icon-paste { content: "\16e"; }
%icon-select-all { content: "\16f"; }
%icon-paste-text { content: "\170"; }
%icon-paste-word { content: "\171"; }
%icon-bold { content: "\172"; }
%icon-italic { content: "\173"; }
%icon-underline { content: "\174"; }
%icon-subscript { content: "\175"; }
%icon-superscript { content: "\176"; }
%icon-strike-through { content: "\177"; }
%icon-decrease-indent { content: "\178"; }
%icon-increase-indent { content: "\179"; }
%icon-block-quote { content: "\17a"; }
%icon-div-container { content: "\17b"; }
%icon-align-left { content: "\17c"; }
%icon-center { content: "\17d"; }
%icon-align-right { content: "\17e"; }
%icon-justify { content: "\17f"; }
%icon-choice { content: "\180"; }
%icon-inline-choice { content: "\181"; }
%icon-match { content: "\182"; }
%icon-associate { content: "\183"; }
%icon-media { content: "\184"; }
%icon-graphic-order { content: "\185"; }
%icon-hotspot { content: "\186"; }
%icon-graphic-gap { content: "\187"; }
%icon-graphic-associate { content: "\188"; }
%icon-select-point { content: "\189"; }
%icon-pin { content: "\18a"; }
%icon-import { content: "\18b"; }
%icon-export { content: "\18c"; }
%icon-move-item { content: "\18d"; }
%icon-meta-data { content: "\18e"; }
%icon-slider { content: "\18f"; }
%icon-summary-report { content: "\190"; }
%icon-text-entry { content: "\191"; }
%icon-extended-text { content: "\192"; }
%icon-eraser { content: "\193"; }
%icon-row { content: "\194"; }
%icon-column { content: "\195"; }
%icon-text-color { content: "\196"; }
%icon-background-color { content: "\197"; }
%icon-spell-check { content: "\198"; }
%icon-polygon { content: "\199"; }
%icon-rectangle { content: "\19a"; }
%icon-gap-match { content: "\19b"; }
%icon-order { content: "\19c"; }
%icon-hottext { content: "\19d"; }
%icon-free-form { content: "\19e"; }
%icon-step-backward { content: "\1a0"; }
%icon-fast-backward { content: "\1a1"; }
%icon-backward { content: "\1a2"; }
%icon-play { content: "\1a3"; }
%icon-pause { content: "\1a4"; }
%icon-stop { content: "\1a5"; }
%icon-forward { content: "\1a6"; }
%icon-fast-forward { content: "\1a7"; }
%icon-step-forward { content: "\1a8"; }
%icon-ellipsis { content: "\1aa"; }
%icon-circle { content: "\1ab"; }
%icon-target { content: "\1ac"; }
%icon-guide-arrow { content: "\1ad"; }
%icon-range-slider-right { content: "\1ae"; }
%icon-range-slider-left { content: "\1af"; }
%icon-radio-checked { content: "\1b1"; }
%icon-checkbox { content: "\1b2"; }
%icon-checkbox-crossed { content: "\1b3"; }
%icon-checkbox-checked { content: "\1b4"; }
%icon-result-nok { content: "\1b9"; }
%icon-result-ok { content: "\1ba"; }
%icon-not-evaluated { content: "\1bb"; }
%icon-filter { content: "\1bc"; }
%icon-translate { content: "\1bd"; }
%icon-eject { content: "\1be"; }
%icon-continue { content: "\1bf"; }
%icon-radio { content: "\1b0"; }
%icon-sphere { content: "\1c0"; }
%icon-reset { content: "\1c3"; }
%icon-smaller { content: "\1c7"; }
%icon-larger { content: "\1c8"; }
%icon-clock { content: "\1c9"; }
%icon-font { content: "\19f"; }
%icon-maths { content: "\1c6"; }
%icon-grip { content: "\1c5"; }
%icon-rubric { content: "\1c4"; }
%icon-audio { content: "\e601"; }
%icon-grip-h { content: "\e600"; }
%icon-magicwand { content: "\e602"; }
