@font-face {
	font-family: 'tao';
	src:url('font/tao/tao.eot?-w0adgh');
	src:url('font/tao/tao.eot?#iefix-w0adgh') format('embedded-opentype'),
		url('font/tao/tao.woff?-w0adgh') format('woff'),
		url('font/tao/tao.ttf?-w0adgh') format('truetype'),
		url('font/tao/tao.svg?-w0adgh#tao') format('svg');
	font-weight: normal;
	font-style: normal;
}


