@import 'inc/tao-icon-vars.scss';
[class^="icon-"], [class*=" icon-"] { @extend %tao-icon-setup; }
.icon-left:before { @extend %icon-left; }
.icon-right:before { @extend %icon-right; }
.icon-up:before { @extend %icon-up; }
.icon-down:before { @extend %icon-down; }
.icon-undo:before { @extend %icon-undo; }
.icon-redo:before { @extend %icon-redo; }
.icon-screen:before { @extend %icon-screen; }
.icon-laptop:before { @extend %icon-laptop; }
.icon-tablet:before { @extend %icon-tablet; }
.icon-phone:before { @extend %icon-phone; }
.icon-folder:before { @extend %icon-folder; }
.icon-folder-open:before { @extend %icon-folder-open; }
.icon-move:before { @extend %icon-move; }
.icon-bin:before { @extend %icon-bin; }
.icon-shuffle:before { @extend %icon-shuffle; }
.icon-print:before { @extend %icon-print; }
.icon-tools:before { @extend %icon-tools; }
.icon-settings:before { @extend %icon-settings; }
.icon-video:before { @extend %icon-video; }
.icon-find:before { @extend %icon-find; }
.icon-image:before { @extend %icon-image; }
.icon-edit:before { @extend %icon-edit; }
.icon-document:before { @extend %icon-document; }
.icon-resize-grid:before { @extend %icon-resize-grid; }
.icon-resize:before { @extend %icon-resize; }
.icon-help:before { @extend %icon-help; }
.icon-mobile-menu:before { @extend %icon-mobile-menu; }
.icon-fix:before { @extend %icon-fix; }
.icon-unlock:before { @extend %icon-unlock; }
.icon-lock:before { @extend %icon-lock; }
.icon-ul:before { @extend %icon-ul; }
.icon-ol:before { @extend %icon-ol; }
.icon-email:before { @extend %icon-email; }
.icon-download:before { @extend %icon-download; }
.icon-logout:before { @extend %icon-logout; }
.icon-login:before { @extend %icon-login; }
.icon-spinner:before { @extend %icon-spinner; }
.icon-preview:before { @extend %icon-preview; }
.icon-external:before { @extend %icon-external; }
.icon-time:before { @extend %icon-time; }
.icon-save:before { @extend %icon-save; }
.icon-warning:before { @extend %icon-warning; }
.icon-add:before { @extend %icon-add; }
.icon-close:before { @extend %icon-close; }
.icon-success:before { @extend %icon-success; }
.icon-remove:before { @extend %icon-remove; }
.icon-info:before { @extend %icon-info; }
.icon-error:before { @extend %icon-error; }
.icon-users:before { @extend %icon-users; }
.icon-user:before { @extend %icon-user; }
.icon-test-taker:before { @extend %icon-test-taker; }
.icon-test-takers:before { @extend %icon-test-takers; }
.icon-item:before { @extend %icon-item; }
.icon-test:before { @extend %icon-test; }
.icon-delivery:before { @extend %icon-delivery; }
.icon-eye-slash:before { @extend %icon-eye-slash; }
.icon-result:before { @extend %icon-result; }
.icon-delivery-small:before { @extend %icon-delivery-small; }
.icon-upload:before { @extend %icon-upload; }
.icon-result-small:before { @extend %icon-result-small; }
.icon-mobile-preview:before { @extend %icon-mobile-preview; }
.icon-extension:before { @extend %icon-extension; }
.icon-desktop-preview:before { @extend %icon-desktop-preview; }
.icon-tablet-preview:before { @extend %icon-tablet-preview; }
.icon-insert-horizontal-line:before { @extend %icon-insert-horizontal-line; }
.icon-table:before { @extend %icon-table; }
.icon-anchor:before { @extend %icon-anchor; }
.icon-unlink:before { @extend %icon-unlink; }
.icon-link:before { @extend %icon-link; }
.icon-right-left:before { @extend %icon-right-left; }
.icon-left-right:before { @extend %icon-left-right; }
.icon-special-character:before { @extend %icon-special-character; }
.icon-source:before { @extend %icon-source; }
.icon-new-page:before { @extend %icon-new-page; }
.icon-templates:before { @extend %icon-templates; }
.icon-cut:before { @extend %icon-cut; }
.icon-replace:before { @extend %icon-replace; }
.icon-copy:before { @extend %icon-copy; }
.icon-paste:before { @extend %icon-paste; }
.icon-select-all:before { @extend %icon-select-all; }
.icon-paste-text:before { @extend %icon-paste-text; }
.icon-paste-word:before { @extend %icon-paste-word; }
.icon-bold:before { @extend %icon-bold; }
.icon-italic:before { @extend %icon-italic; }
.icon-underline:before { @extend %icon-underline; }
.icon-subscript:before { @extend %icon-subscript; }
.icon-superscript:before { @extend %icon-superscript; }
.icon-strike-through:before { @extend %icon-strike-through; }
.icon-decrease-indent:before { @extend %icon-decrease-indent; }
.icon-increase-indent:before { @extend %icon-increase-indent; }
.icon-block-quote:before { @extend %icon-block-quote; }
.icon-div-container:before { @extend %icon-div-container; }
.icon-align-left:before { @extend %icon-align-left; }
.icon-center:before { @extend %icon-center; }
.icon-align-right:before { @extend %icon-align-right; }
.icon-justify:before { @extend %icon-justify; }
.icon-choice:before { @extend %icon-choice; }
.icon-inline-choice:before { @extend %icon-inline-choice; }
.icon-match:before { @extend %icon-match; }
.icon-associate:before { @extend %icon-associate; }
.icon-media:before { @extend %icon-media; }
.icon-graphic-order:before { @extend %icon-graphic-order; }
.icon-hotspot:before { @extend %icon-hotspot; }
.icon-graphic-gap:before { @extend %icon-graphic-gap; }
.icon-graphic-associate:before { @extend %icon-graphic-associate; }
.icon-select-point:before { @extend %icon-select-point; }
.icon-pin:before { @extend %icon-pin; }
.icon-import:before { @extend %icon-import; }
.icon-export:before { @extend %icon-export; }
.icon-move-item:before { @extend %icon-move-item; }
.icon-meta-data:before { @extend %icon-meta-data; }
.icon-slider:before { @extend %icon-slider; }
.icon-summary-report:before { @extend %icon-summary-report; }
.icon-text-entry:before { @extend %icon-text-entry; }
.icon-extended-text:before { @extend %icon-extended-text; }
.icon-eraser:before { @extend %icon-eraser; }
.icon-row:before { @extend %icon-row; }
.icon-column:before { @extend %icon-column; }
.icon-text-color:before { @extend %icon-text-color; }
.icon-background-color:before { @extend %icon-background-color; }
.icon-spell-check:before { @extend %icon-spell-check; }
.icon-polygon:before { @extend %icon-polygon; }
.icon-rectangle:before { @extend %icon-rectangle; }
.icon-gap-match:before { @extend %icon-gap-match; }
.icon-order:before { @extend %icon-order; }
.icon-hottext:before { @extend %icon-hottext; }
.icon-free-form:before { @extend %icon-free-form; }
.icon-step-backward:before { @extend %icon-step-backward; }
.icon-fast-backward:before { @extend %icon-fast-backward; }
.icon-backward:before { @extend %icon-backward; }
.icon-play:before { @extend %icon-play; }
.icon-pause:before { @extend %icon-pause; }
.icon-stop:before { @extend %icon-stop; }
.icon-forward:before { @extend %icon-forward; }
.icon-fast-forward:before { @extend %icon-fast-forward; }
.icon-step-forward:before { @extend %icon-step-forward; }
.icon-ellipsis:before { @extend %icon-ellipsis; }
.icon-circle:before { @extend %icon-circle; }
.icon-target:before { @extend %icon-target; }
.icon-guide-arrow:before { @extend %icon-guide-arrow; }
.icon-range-slider-right:before { @extend %icon-range-slider-right; }
.icon-range-slider-left:before { @extend %icon-range-slider-left; }
.icon-radio-checked:before { @extend %icon-radio-checked; }
.icon-checkbox:before { @extend %icon-checkbox; }
.icon-checkbox-crossed:before { @extend %icon-checkbox-crossed; }
.icon-checkbox-checked:before { @extend %icon-checkbox-checked; }
.icon-result-nok:before { @extend %icon-result-nok; }
.icon-result-ok:before { @extend %icon-result-ok; }
.icon-not-evaluated:before { @extend %icon-not-evaluated; }
.icon-filter:before { @extend %icon-filter; }
.icon-translate:before { @extend %icon-translate; }
.icon-eject:before { @extend %icon-eject; }
.icon-continue:before { @extend %icon-continue; }
.icon-radio:before { @extend %icon-radio; }
.icon-sphere:before { @extend %icon-sphere; }
.icon-reset:before { @extend %icon-reset; }
.icon-smaller:before { @extend %icon-smaller; }
.icon-larger:before { @extend %icon-larger; }
.icon-clock:before { @extend %icon-clock; }
.icon-font:before { @extend %icon-font; }
.icon-maths:before { @extend %icon-maths; }
.icon-grip:before { @extend %icon-grip; }
.icon-rubric:before { @extend %icon-rubric; }
.icon-audio:before { @extend %icon-audio; }
.icon-grip-h:before { @extend %icon-grip-h; }
.icon-magicwand:before { @extend %icon-magicwand; }
